.left-menu{
    background-color: #dedede;
        /*padding:1em;*/
   
}
.left-menu ul li{
    list-style-type: none;
    border-bottom: 1px solid #eee;
    padding: 0.3em;
     margin-left: -39px;
    padding: 0
}
.left-menu ul li:hover{
    background-color: #999;
}
.left-menu ul li a{
    padding: 0.4em 0.8em;
    font-size: 1.4em;
}