body {
    padding-top: 3.5em;
}

.navbar {
    border-radius: 0;
    border: 0;
    background-color: #fff;
    box-shadow: #fefefe;
}

.navbar.navbar-fixed-top {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 10px 33px rgba(9, 16, 43, 0.15);
    position: fixed;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

footer .container-fluid {
    background-color: #FAFAFA;
    padding: 5em;
}

.nav li {
    padding: 0.5em 0.2em;

}

.navbar-default .navbar-nav > li > a:hover {
    color: #0bf354;
    background-color: transparent;
    border: 1px solid #0bf354;

}

.nav .top-button {
    background: #41cd52 none repeat scroll 0 0;
    color: #000;
    font-size: 16px;
    font-weight: 600;
    overflow: hidden;
    position: relative;
    top: 0;
    padding: 0.5em 1em;
}

.top-button::before {
    top: -10px;
    left: -10px;

}

.top-button::after, .top-button::before {

    background: #fff none repeat scroll 0 0;
    content: "";
    display: block;
    height: 20px;
    position: absolute;
    transform: rotate(45deg);
    width: 20px;
    z-index: 1;

}

.top-button::after {
    bottom: -10px;
    right: -10px;

}

/*header */
.content-root {
    position: relative;
    padding-bottom: 5em;
}

.main-header {
    background-color: #41CD52;
    height: 27em;
    box-shadow: 0 5px 20px rgba(140, 26, 95, 0.15);
}

.header-content-img {
    position: relative;
    width: 50em;
    height: 27em;
    display: inline-block;
}

.header-content-img img {
    width: 100%;
    height: 27em;
}

.header-content {
    position: relative;
    width: 25em;

    display: inline-block;
    transform: skewX(-10deg);
    right: 28%;
    background-color: #41CD52;
    height: 27em;
    float: right;

}

.header-content > p {
    font-size: 2em;
    transform: skewX(10deg);
    color: #fff;
    padding: 2em 4em;
    width: 23em;
}

/*body section*/
.section {
    border: 1px solid #55E069;
    height: 0;
    padding: 1em 3em 17em;
    margin: 2em 0 6em;
}

.section-img img {
    height: 15em;
    position: absolute;
    width: 11em;
    z-index: 1;
    box-shadow: 0 20px 43px rgba(9, 16, 43, 0.3);
}

.section-img {
    background: #41cd52 none repeat scroll 0 0;
    position: relative;
    width: 11em;
}

.section-img::before {
    top: -10px;
    left: -10px;
}

.section-img::before {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    content: "";
    background: #FFFFFF none repeat scroll 0 0;
    transform: rotate(45deg);
    z-index: 2;
    overflow: hidden;
}

/*.section-img::after{*/
/*bottom: -220px;*/
/*right: -10px;*/
/*}*/

.section-content {
    float: right;
    width: 67%;
    padding-left: 2em;
}

/*more button*/

.more a {
    padding: 0 4em;
    color: #fff;
    font-weight: 600;
}

.more {
    background: #41cd52 none repeat scroll 0 0;
    position: relative;
    padding: 1em 0;
    margin: 3em -43px 0 0;
    width: 13em;
    float: right;
    overflow: hidden;
}

.more:hover {
    background: #0bf354 none repeat scroll 0 0;

}

.more::before {
    top: -10px;
    left: -10px;
}

.more::before, .more::after {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    content: "";
    background: #fff none repeat scroll 0 0;
    transform: rotate(45deg);
    z-index: 1;
}

.more::after {
    bottom: -10px;
    right: -10px;
}

.address {
    margin: 8em 0 40em;
    background-color: #eee;
}

.about {
    box-shadow: 0 20px 43px rgba(9, 16, 43, 0.3);
    background-color: #fff;
    padding: 3% 6% 6%;
    width: 48%;
    float: left;
    min-height: 27em;
}

.about h3 {
    position: relative;
    text-align: center;
    z-index: 1;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 2em;
    background-color: #fff;
}

.about h3 span {
    background: #fff;
    padding: 0 1em;
    display: inline-block;
}

.about h3::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: .5em;
    left: 0;
    background: #41cd52;
    z-index: -1;
}

.about p {
    font-size: 1.3em;
}

.contact {
    box-shadow: 0 20px 43px rgba(9, 16, 43, 0.3);
    background-color: #fff;
    padding: 3% 6% 6%;
    width: 48%;
    float: right;
    min-height: 27em;
}

.contact h3 {
    position: relative;
    text-align: center;
    z-index: 1;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 2em;
    background-color: #fff;
}

.contact h3 span {
    background: #fff;
    padding: 0 1em;
    display: inline-block;
}

.contact h3::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    top: .5em;
    left: 0;
    background: #41cd52;
    z-index: -1;
}

.contact p {
    font-size: 1.3em;
}

/*category page*/
.category-header {
    margin-bottom: 10em;
}

.category-header-image {
    height: 27em;
    width: 100%;
    /*box-shadow: 0 20px 43px rgba(9, 16, 43, 0.3);*/
}

.category-header-image img {
    height: 27em;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 3.5em;
    z-index: -1;

}

.category-header-title {
    margin-left: 5em;
    top: 14em;
    z-index: 1;
    position: absolute;
}

.category-header-title p {
    font-size: 4em;
    color: #fff;
    text-transform: uppercase;
}

.category-header-details p {
    color: #fff;
    font-size: 2em;
}

.category-list {
    /*margin-top: 5em;*/
    background-color: #eee;
    height: 10em;
    box-shadow: 5px 5px 5px #aaa;
    margin: 0.4em 0;

}

.category-image {
    width: 15em;
    height: 10em;
    float: left;
    padding-right: 0.8em;

}

.category-image img {

    width: 100%;
    height: 100%;

}

.category-title {
    font-size: 2em;
    padding-left: 0.8em;
    /*float: right;*/
}

footer {
    margin-top: 5em;
}